<div class="page">
  <!-- Navbar -->
  <div class="mb-3">
    <header class="navbar navbar-expand-md navbar-dark d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href="/">
            <img src="assets/logo.png" width="110" height="32" alt="nano casa" class="navbar-brand-image">
          </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
          <div class="d-none d-md-flex">
            <a href="https://github.com/obsidiaHQ/nano-casa" target="_blank" class="nav-link" title="Source code">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
                </path>
              </svg>
            </a>
            <a href="https://twitter.com/geommr" target="_blank" class="nav-link" title="Twitter">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z">
                </path>
              </svg>
            </a>
            <a href="?theme=dark" class="nav-link hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
              </svg>
            </a>
            <a href="?theme=light" class="nav-link hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="4" />
                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
              </svg>
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="./#">
                  <span class="nav-link-title">
                    Home
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">
                  <span class="nav-link-title">
                    About
                  </span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-third" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button"
                  aria-expanded="false">
                  <span class="nav-link-title">
                    Resources
                  </span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="https://nano.casa/explorer">
                    Node Explorer
                  </a>
                  <a class="dropdown-item" href="https://github.com/obsidiaHQ/nano-casa/issues/1" target="_blank">
                    Add a Project
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">

          <div class="col-12 col-md-4">
            <div class="card">
              <div class="card-body pb-0">
                <ng-container *ngIf="!repos.length">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-secondary align-self-center" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="repos.length">
                  <div class="row">
                    <div class="col-12 col-md-7">
                      <div class="d-flex align-items-center">
                        <div class="subheader">Projects</div>
                      </div>
                      <div class="d-flex align-items-baseline">
                        <div class="h2 mb-2 me-2" [countUp]="repos.length"></div>
                        <div class="me-auto">
                          <span class="text-pink d-inline-flex align-items-center lh-1">
                            {{repos[repos.length-1]?.name}}
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1 small" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                              stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <polyline points="12 8 12 12 14 14"></polyline>
                              <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5"></path>
                            </svg>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-5">
                      <div class="d-flex align-items-center">
                        <div class="subheader">Contributors</div>
                      </div>
                      <div class="d-flex align-items-baseline">
                        <div class="h2 mb-2 me-2" [countUp]="contributors.length"></div>
                      </div>
                    </div>
                  </div>

                </ng-container>
                <div echarts [options]="reposChartOpts" style="height: 70px;"></div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="card">
              <ng-container *ngIf="!milestones.length">
                <div class="card-body d-flex justify-content-center">
                  <div class="spinner-grow text-secondary align-self-center" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </ng-container>
              <div *ngIf="milestones.length" class="card-body">
                <div class="card-stamp">
                  <div class="card-stamp-icon bg-purple-lt">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-target-arrow" width="24" height="24" viewBox="0 0 24 24"
                      stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                      <path d="M12 7a5 5 0 1 0 5 5"></path>
                      <path d="M13 3.055a9 9 0 1 0 7.941 7.945"></path>
                      <path d="M15 6v3h3l3 -3h-3v-3z"></path>
                      <path d="M15 9l-3 3"></path>
                    </svg>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="subheader">Milestones</div>
                </div>
                <div id="carousel-indicators-dot" class="carousel slide carousel-fade" data-bs-ride="carousel">
                  <div class="carousel-indicators carousel-indicators-dot">
                    <button *ngFor="let milestone of milestones; let i = index" type="button" data-bs-target="#carousel-indicators-dot"
                      [ngClass]="{'active': i === 0}" [attr.data-bs-slide-to]="i"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let milestone of milestones; let i = index" [ngClass]="{'active': i === 0}">
                      <div class="row align-items-center">
                        <div class="col">
                          <div class="row g-2 align-items-center">
                            <div class="col-auto h2">
                              {{milestone.closed_issues/(milestone.open_issues + milestone.closed_issues) | percent}}
                            </div>
                            <div class="col">
                              <div class="progress progress-sm">
                                <div class="progress-bar bg-purple" role="progressbar"
                                  [ngStyle]="{width: milestone.closed_issues*100/(milestone.open_issues + milestone.closed_issues)+'%' }"
                                  [attr.aria-valuenow]="milestone.closed_issues" [attr.aria-valuemin]="0"
                                  [attr.aria-valuemax]="milestone.open_issues + milestone.closed_issues">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="text-muted mt-1">
                            {{milestone.title}} ({{milestone.closed_issues}}/{{milestone.closed_issues+milestone.open_issues}})
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-12 col-md-4">
            <div class="card spotlight">
              <ng-container *ngIf="!repos.length">
                <div class="card-body d-flex justify-content-center">
                  <div class="spinner-grow text-secondary align-self-center" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </ng-container>
              <a href="#" *ngIf="repos.length">
                <div class="ribbon ribbon-top bg-yellow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                  </svg>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Spotlight</div>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <div class="h2 mb-2 me-2">{{repos[31].name}}</div>
                  </div>
                  <p class="text-muted">{{repos[31].description}}</p>
                </div>
              </a>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-12 col-md-8 mt-3">
            <div class="card" style="height: 484px;">
              <div class="card-body">
                <div class="card-title">
                  <h3>Weekly activity</h3>
                </div>
                <div echarts [options]="commitsChartOpts" class="chart"></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mt-3">
            <div class="card" style="height: 484px;">
              <ng-container *ngIf="!events.length">
                <div class="spinner-grow text-secondary align-self-center" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </ng-container>
              <ng-container *ngIf="events.length">
                <div class="card-table table-responsive" style=" scrollbar-width: thin;">
                  <table class="table table-vcenter">
                    <thead>
                      <tr>
                        <th>Repo</th>
                        <th>Commit</th>
                        <th class="text-center"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-hour-8" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <path d="M12 12l-3 2"></path>
                            <path d="M12 7v5"></path>
                          </svg></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let event of events">
                        <td class="w-1 py-1">
                          <a target="_blank" href="https://github.com/{{event.repo_full_name}}"><img class="avatar avatar-sm" src="{{event.avatar_url}}"
                              [alt]="event.repo_full_name" [title]="event.repo_full_name"></a>
                        </td>
                        <td class="td-truncate py-1">
                          <div class="text-truncate opacity-80">
                            {{event.message}}
                          </div>
                        </td>
                        <td class="text-nowrap text-muted py-1">{{event.date | timeago}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Projects</h3>
              <div class="ms-4 lh-1">
                <div class="dropdown">
                  <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{REPO_SORT === 'date' ?
                    'Most recent' : 'Most popular'}}</a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" [ngClass]="{active: REPO_SORT === 'stars'}" (click)="sortRepos('stars')">Most popular</a>
                    <a class="dropdown-item" [ngClass]="{active: REPO_SORT === 'date'}" (click)="sortRepos('date')">Most recent</a>
                  </div>
                </div>
              </div>
              <div class="ms-auto d-inline-block">
                <input type="text" class="form-control form-control-sm" aria-label="Search invoice" placeholder="Search">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-vcenter table-mobile-md card-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-center" width="130px">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-hour-8" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <path d="M12 12l-3 2"></path>
                        <path d="M12 7v5"></path>
                      </svg>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let repo of reposPage; trackBy: trackByName">
                    <td data-label="Name" class="py-2">
                      <div class="d-flex align-items-center">
                        <div class="flex-fill">
                          <div class="font-weight-medium">
                            <a href="https://github.com/{{repo.full_name}}" target="_blank">
                              <span>{{repo.name}}</span>
                              <span class="badge bg-yellow-lt ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24"
                                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                                </svg>
                                {{repo.stargazers_count}}
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Description">
                      <span class="opacity-75">{{repo.description}}</span>
                    </td>
                    <td data-label="Date created" class="text-muted" [title]="repo.created_at | date">
                      {{repo.created_at | timeago}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <app-pagination [pageSize]="15" [items]="sortedRepos" (changePage)="reposPage = $event.items"></app-pagination>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Contributors</h3>
              <div class="ms-auto d-inline-block">
                <input type="text" class="form-control form-control-sm" aria-label="Search invoice" placeholder="Search">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-vcenter table-mobile-md card-table">
                <thead>
                  <tr>
                    <th width="30px">#</th>
                    <th>Name</th>
                    <th>Total commits</th>
                    <th>Last month</th>
                    <th class="w-1">Sponsor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of contributorsPage; let i = index; trackBy: trackByLogin;">
                    <td class="py-2" scope="row">{{(i+1) + (40 * (contributorsPageIndex-1))}}</td>
                    <td data-label="Name" class="py-2">
                      <div class="d-flex align-items-center">
                        <img class="avatar me-3" [src]="user.avatar_url">
                        <div class="flex-fill">
                          <div class="font-weight-medium">
                            <a class="me-2" href="https://github.com/{{user.login}}" target="_blank">
                              <span>{{user.login}}</span>
                            </a>
                            <span class="badge bg-cyan-lt ms-2 cursor-help" title="Contributed to the nano-node repo" *ngIf="contributedToNode(user.repos)">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-award" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="#17a2b8" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="9" r="6"></circle>
                                <path d="M12.002 15.003l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889"></path>
                                <path d="M6.802 12.003l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889"></path>
                              </svg>
                            </span>
                            <span class="badge bg-purple-lt ms-2 cursor-help" title="Contributed to 10 repos or more" *ngIf="user.repos.length >= 10">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-meteor" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M21 3l-5 9h5l-6.891 7.086a6.5 6.5 0 1 1 -8.855 -9.506l7.746 -6.58l-1 5l9 -5z"></path>
                                <circle cx="9.5" cy="14.5" r="2.5"></circle>
                              </svg>
                            </span>
                            <span class="badge bg-orange-lt ms-2 cursor-help" title="Contributed to a popular repo" *ngIf="hasPopularRepo(user.repos)">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-north-star" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 12h18"></path>
                                <path d="M12 21v-18"></path>
                                <path d="M7.5 7.5l9 9"></path>
                                <path d="M7.5 16.5l9 -9"></path>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="py-2" data-label="Total commits">
                      <span class="opacity-75">{{user.contributions | number}}</span>
                    </td>
                    <td class="py-2" data-label="Last month">
                      <span [ngStyle]="{opacity: user.last_month ? 0.75 : 0.25}">{{user.last_month}}</span>
                    </td>
                    <td class="py-2">
                      <div class="btn-list flex-nowrap">
                        <a href="#" class="btn bg-azure-lt w-100 btn-icon" title="Donate nano">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="6.4241271" y1="20.224079" x2="16.844126" y2="4.2240787" />
                            <line x1="6.9741268" y1="11.874079" x2="16.664125" y2="11.874079" />
                            <line x1="6.9741268" y1="14.584079" x2="16.664125" y2="14.584079" />
                            <line x1="17.294127" y1="20.224079" x2="6.8741269" y2="4.2240787" />
                          </svg>
                        </a>
                        <a target="_blank" href="https://patreon.com/" class="btn bg-white-lt w-100 btn-icon" title="Become a patron">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-patreon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 3h3v18h-3z"></path>
                            <path d="M15 9.5m-6.5 0a6.5 6.5 0 1 0 13 0a6.5 6.5 0 1 0 -13 0"></path>
                          </svg>
                        </a>
                        <a target="_blank" href="https://github.com/sponsors/{{user.login}}" class="btn bg-pink-lt w-100 btn-icon" title="Sponsor on GitHub">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                          </svg>
                        </a>
                        <a href="#" class="btn bg-indigo-lt w-100 btn-icon" title="More info" data-bs-toggle="modal" data-bs-target="#modal-profile">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <circle cx="12" cy="10" r="3"></circle>
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <app-pagination [pageSize]="40" [items]="contributors"
              (changePage)="contributorsPage = $event.items; contributorsPageIndex = $event.page"></app-pagination>
          </div>
        </div>

      </div>
    </div>

    <footer class="footer footer-transparent d-print-none">
      <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item text-secondary">Last updated <span *ngIf="milestones.length">{{milestones[0].created_at | timeago}}</span></li>
              <li class="list-inline-item"><a routerLink="/about" class="link-secondary">About</a></li>
              <li class="list-inline-item"><a href="https://github.com/obsidiaHQ/nano-casa/blob/main/LICENSE" target="_blank" class="link-secondary">License</a>
              </li>
              <li class="list-inline-item"><a href="https://github.com/obsidiaHQ/nano-casa" target="_blank" class="link-secondary" rel="noopener">Source
                  code</a></li>
              <li class="list-inline-item">
                <a href="https://twitter.com/geommr" target="_blank" class="link-secondary" rel="noopener">
                  Twitter
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                Obsidia
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Large modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil
        odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>