<div class="page-body mt-5">
  <div class="container-xl">
    <section class="row mb-3">
      <div class="col-12">
        <h2 class="page-title mb-2">
          About
        </h2>
      </div>
      <div class="col-12">
        <p> nano.casa monitors the open source development of the <a href="https://nano.org" target="_blank" aria-label="Nano">nano</a> ecosystem, enabling
          developers and enthusiasts to easily track the progress of their favorite projects, discover new ones and allowing them easier access to the
          information about who's currently working on what. </p>
        <p> Goal: Drive more engagement by making it easier for people to find and follow developers within the community, as well as show their support via
          GitHub Sponsorships or nano donations. </p>
      </div>
    </section>

    <section class="row mb-3">
      <div class="col-12">
        <h2 class="page-title mb-2">
          Methodology
        </h2>
      </div>
      <div class="col-12">
        <p> we track GitHub repositories that have any one of the following topics: <span class="badge bg-cyan-lt mx-1">nanocurrency</span><span
            class="badge bg-cyan-lt mx-1">nano-currency</span><span class="badge bg-cyan-lt mx-1">nano + cryptocurrency</span><span
            class="badge bg-cyan-lt mx-1">nano-cryptocurrency</span><span class="badge bg-cyan-lt mx-1">nano + crypto</span>, as well
          as a list of known repos that haven't been tagged yet. <a href="https://github.com/obsidiaHQ/nano-casa/issues/1" target="_blank"
            aria-label="Suggest known repos">Suggestions are welcome</a>! </p>
      </div>
    </section>

    <section class="row mb-3">
      <div class="col-12">
        <h2 class="page-title mb-2">
          Disclaimer
        </h2>
      </div>
      <div class="col-12">
        <p>
          Our website contains external links that are user-submitted, and we cannot guarantee their accuracy, completeness,
          or suitability for any purpose. By accessing these links, you acknowledge that you do so at your own risk and discretion.
        </p>
        <p>
          If you come across any external links that you believe are harmful, inappropriate or irrelevent for the purpose of this site, please report them
          immediately by opening an issue on GitHub. Your feedback is very much appreciated!
        </p>
      </div>
    </section>
  </div>
</div>