<div class="page-body mt-5">
  <div class="container-xl">
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">Public Nodes</h3>
      </div>
      <div class="list-group list-group-flush list-group-hoverable">
        @for (node of nodes; track node.endpoint) {
        <div class="list-group-item">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="status-indicator status-indicator-animated" [ngClass]="node.up ? 'status-green' : 'status-red'">
                <span class="status-indicator-circle"></span>
                <span class="status-indicator-circle"></span>
                <span class="status-indicator-circle"></span>
              </span>
            </div>
            <div class="col">
              <h2 class="page-title">
                {{node.endpoint}}
                <a [href]="node.website || node.endpoint" target="_blank" class="ms-2">
                  <app-icon icon="external-link" size="16" classList="text-muted" style="vertical-align: super;"></app-icon>
                </a>
                @if (node.websocket) {
                <a [href]="node.websocket" class="ms-1" title="Websocket">
                  <app-icon icon="bolt" size="16" classList="text-muted" style="vertical-align: super;"></app-icon>
                </a>
                }
                @if (node.deprecated) {
                <span class="badge ms-2" style="font-size: 11px;" title="Node is shutting down soon">Deprecated</span>
                }
              </h2>
              <div class=" text-muted">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    <span [ngClass]="{
											'text-red': !node.up && node.error,
											'text-green': node.up && !node.error,
											'text-orange': node.up && node.error
										}">
                      {{node.error ? node.error.error : 'Up'}}
                    </span>
                  </li>
                  <li class="list-inline-item">{{node.resp_time + 'ms'}}</li>
                  <li class="list-inline-item">{{node.version || 'unknown version'}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <p class="text-secondary mb-2">
      Some nodes disallow certain RPC actions, check their documentation or Discord for more info.
    </p>
    <p class="text-secondary mb-2">
      Response times are relative to nano.casa's server.
    </p>
    <p class="text-secondary mb-2">
      Request adding or removing nodes by opening an issue on <a href="https://github.com/obsidiaHQ/nano-casa">GitHub</a>.
    </p>
  </div>
</div>